{include file="public/header" /}
<style>
    .table-bordered > tbody > tr:hover {
        background-color: #f5f5f5
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>会员列表</h5>
                    <h5>&nbsp;{$_count}条</h5>
                </div>
                <div class="ibox-content">
                    <div class="row input-groups">
                        <div class="col-md-12 m-b-xs form-inline text-left">
                            <div class="form-group">
                                <label class="control-label">排序:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects" name="sort"
                                        style="width: auto;">
                                    <option value="c.id desc"
                                    <?php if(I('sort')=='c.id desc'){ echo "selected='selected'"; } ?>
                                    >注册时间</option>
                                    <option value="c.balance desc"
                                    <?php if(I('sort')=='c.balance desc'){ echo "selected='selected'"; } ?>
                                    >余额降序</option>
                                    <option value="c.shouxin_e desc"
                                    <?php if(I('sort')=='c.shouxin_e desc'){ echo "selected='selected'"; } ?>
                                    >授信降序</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">类型:</label>
                                <?php $types=C('CUS_TYPE');?>
                                <select class="input-sm form-control input-s-sm inline serach_selects" name="type">
                                    <option value="0">请选择</option>
                                    {volist name="types" id="to" }
                                    <option value="{$key}"
                                    <?php if(I('type')==$key){ echo "selected='selected'"; } ?>
                                    >{$to}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">等级:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects" name="grade_id"
                                        style="width: auto;">
                                    <option value="0">请选择</option>
                                    {volist name="grades" id="vo"}
                                    <option value="{$vo.id}"
                                    <?php if(I('grade_id')==$vo['id']){ echo "selected='selected'"; } ?>
                                    >{$vo.grade_name}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="form-group">
                                <?php $client=C('CLIENT_TYPE'); ?>
                                <label class="control-label">渠道:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects"
                                        name="client"
                                        style="width: auto;">
                                    <option value="0">请选择</option>
                                    {volist name="client" id="vo"}
                                    <option value="{$key}"
                                    <?php if(I('client')==$key){ echo "selected='selected'"; } ?>>{$vo}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">关注:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects"
                                        name="is_subscribe"
                                        style="width: auto;">
                                    <option value="0">请选择</option>
                                    <option value="2"
                                    <?php if(I('is_subscribe')==2){ echo "selected='selected'"; } ?>>是</option>
                                    <option value="1"
                                    <?php if(I('is_subscribe')==1){ echo "selected='selected'"; } ?>>否</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">状态:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects" name="status"
                                        style="width: auto;">
                                    <option value="0">请选择</option>
                                    <option value="2"
                                    <?php if(I('status')==2){ echo "selected='selected'"; } ?>>启用</option>
                                    <option value="1"
                                    <?php if(I('status')==1){ echo "selected='selected'"; } ?>>禁用</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">查询条件:</label>
                                <select class="input-sm form-control input-s-sm inline" name="query_name"
                                        style="width: auto;">
                                    <option value="">模糊</option>
                                    <option value="c.id"
                                    <?php if(I('query_name')=='c.id'){ echo "selected='selected'"; } ?>>ID</option>
                                    <option value="c.username"
                                    <?php if(I('query_name')=='c.username'){ echo "selected='selected'"; } ?>
                                    >名称</option>
                                    <option value="c.wx_openid"
                                    <?php if(I('query_name')=='c.wx_openid'){ echo "selected='selected'"; } ?>
                                    >openid</option>
                                    <option value="c.mobile"
                                    <?php if(I('query_name')=='c.mobile'){ echo "selected='selected'"; } ?>>手机号</option>
                                    <option value="c.weixin_appid"
                                    <?php if(I('query_name')=='c.weixin_appid'){ echo "selected='selected'"; } ?>
                                    >appid</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="hidden" name="id" value="{:I('id')}"/>
                                    <input type="text" name="key" placeholder="请输入昵称或者手机号" value="{:I('key')}"
                                           class="input-sm form-control">
                                    <span class="input-group-btn"><button type="button" id="search"
                                                                          class="btn btn-sm btn-primary"
                                                                          url="{:U('index')}"> 搜索</button></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-inline text-left">
                            <div class="form-group">
                                <a class="btn-sm btn-white open-reload"><i class="glyphicon glyphicon-repeat"></i></a>
                                <a type="button" class="btn btn-sm btn-primary open-window" href="{:U('edit')}">
                                    <i class="fa fa-plus"></i> 新增</a>
                                <a href="{:U('poster/index')}" class="btn btn-sm btn-info open-window no-refresh"
                                   title="海报配置"><i class="fa fa-cog"></i> 海报设置</a>
                                <a href="{:U('Applybla/index')}" class="btn btn-sm btn-info open-window no-refresh"
                                   title="打款申请"><i class="fa fa-cny"></i> 打款申请</a>
                                <a type="button" id="excel" class="btn btn-sm btn-primary" url="{:U('customer_excel')}">
                                    <i class="fa fa-table"></i> 导出</a>
                                <a class="btn btn-sm btn-danger ajax-get confirm" href="{:U('del_poster')}"
                                   title="清空已生成海报"><i class="fa fa-recycle"></i> 清空推广码</a>
                                <a type="button" class="btn btn-sm btn-primary open-window" href="{:U('day_price')}">
                                    <i class="fa fa-cny"></i> 会员日账单</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>会员</th>
                                <th>等级</th>
                                <th>上级</th>
                                <th>下级</th>
                                <th>渠道</th>
                                <th>余额</th>
                                <th>授信额度</th>
                                <th>消费</th>
                                <th>公众号</th>
                                <th>注册时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="_list" id="vo"}
                            <tr>
                                <td><img src="{$vo.headimg}" alt="" style="width: 30px;height: 30px;border-radius: 50%;"></td>
                                <td>{$vo.id}</td>
                                <td>
                                    昵称：{$vo.username}<br/>
                                    手机：{$vo.mobile}
                                </td>
                                <td>[{:C('CUS_TYPE')[$vo.type]}]{$vo.grade_name}<br/>
                                    {eq name="vo.type" value="2"}
                                    h5分销：{$vo.is_h5fx==1?"是":'否'}
                                    {/eq}
                                </td>
                                <td>
                                    {gt name="vo.f_id" value="0"}
                                    <a class="open-window no-refresh" title="推荐人"
                                       href="{:U('index',['id'=>$vo.f_id])}">
                                        [{$vo.f_id|get_user_grade_name}]
                                        [{$vo.f_id}] {$vo.usernames}
                                    </a>
                                    {/gt}
                                </td>
                                <td><a class="open-window no-refresh" title="会员"
                                       href="{:U('index',['f_id'=>$vo.id])}">{$vo.child_num}</a>
                                </td>
                                <td>{:C('CLIENT_TYPE')[$vo.client]}</td>
                                <td>
                                    余额：<a class="open-window no-refresh" title="用户账单" href="{:U('balance_log',['id'=>$vo.id])}">{$vo.balance}</a><br/>
                                    <a class="text-info recharge" title="充值" data-id="{$vo.id}" data-myname="{$vo.username}">充值余额</a><br/>
                                    <a class="text-danger ajax-get no-refresh" href="{:U('balance_check?id='.$vo.id)}"
                                       title="余额校验">校验</a>
                                </td>
                                <td>{$vo.shouxin_e}</td>
                                <td>今日订单：<span class="text-danger"><b>{$vo.porder_jinnum}</b></span><br/>
                                    今日消费：<span class="text-danger"><b>{$vo.total_jinprice}</b></span><br/>
                                    今日成功订单：<span class="text-danger"><b>{$vo.porder_jincgnum}</b></span><br/>
                                    今日成功金额：<span class="text-danger"><b>{$vo.total_jincgprice}</b></span><br/>
                                    总计订单：{$vo.porder_num}<br/>
                                    总计消费：<a class="open-window" title="订单"
                                          href="{:U('porder/index',['customer_id'=>$vo.id])}">{$vo.total_price}</a></td>
                                <td>
                                    appid：{$vo.weixin_appid}<br/>
                                    openid：{$vo.wx_openid}<br/>
                                    关注：{$vo.is_subscribe?'是':'否'}
                                </td>
                                <td>{$vo.create_time|time_format}</td>
                                <td>{eq name="vo.status" value="0"}<span
                                        class="text-danger">禁用</span>{else/}<span
                                        class="text-info">启用</span>{/eq}
                                </td>
                                <td>
                                    {eq name="vo.status" value="1"}
                                    <a class="text-warning ajax-get"
                                       href="{:U('qi_jin?id='.$vo.id.'&status=0')}" title="禁用">禁用</a>
                                    {else/}
                                    <a class="text-info ajax-get" href="{:U('qi_jin?id='.$vo.id.'&status=1')}"
                                       title="启用">启用</a>
                                    {/eq}
                                    {eq name="vo.type" value="2"}
                                    <a class="text-warn resetpwd" title="重置密码" data-id="{$vo.id}">重置密码</a>
                                    <a class="open-window" href="{:U('edita?id='.$vo.id)}" title="资料">资料</a>
                                    <a class="text-warn resetgoogle" title="重置密码" data-id="{$vo.id}">清除谷歌验证码</a>
                                    <a class="open-window" href="{:U('day_bill?id='.$vo.id)}" title="日账单">日账单</a>
                                    <a class="open-window" href="{:U('month_bill?id='.$vo.id)}" title="月账单">月账单</a>
                                    {/eq}
                                    {eq name="vo.is_zdy_price" value="1"}
                                    <a class="open-window" href="{:U('hz_price?customer_id='.$vo.id)}" title="编辑">自定义销售价格</a>
                                    {/eq}
                                    <a class="open-window" href="{:U('edit?id='.$vo.id)}" title="编辑">编辑</a>
                                    <a class="text-danger ajax-get confirm" href="{:U('deletes?id='.$vo.id)}"
                                       title="删除">删除</a>
                                    <a class="open-window no-refresh" href="{:U('customer_log?id='.$vo.id)}"
                                       title="会员日志">日志</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                    <div class="page">
                        {$_list->render()}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="uppwdModal" tabindex="-1" role="dialog" aria-hidden="true">
    <form method="post" action="{:U('up_password')}" class="appidModal">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-body">
                    <p><strong>密码</strong></p>
                    <div class="form-group">
                        <input type="hidden" value="" name="id" id="uppwdid">
                        <input type="text" placeholder="请输入新的密码" value=""
                               class="form-control" name="password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal" onclick="closeuppwdModal()">关闭
                    </button>
                    <button type="submit" class="btn btn-primary ajax-post" target-form="appidModal">保存</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal inmodal" id="rechargeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <form method="post" action="{:U('balance_add')}" class="rechargeModal">
        <div class="modal-dialog" style="background:#578;">
            <div class="modal-content animated fadeIn">
                <div class="modal-body">
                    <input type="hidden" name="id" id="rechargeid">
                    <p><strong>充值金额</strong></p>
                    <div class="form-group">
                        <input type="text" placeholder="请输入要充值的金额（正数代表增加，负数代表扣除）" value=""
                               class="form-control" name="money" autocomplete="off" maxlength="8" oninput="amountconvert()">
                    </div>
                    <strong>ID: <span id="data-id-myid" style="color: #f00;"></span></strong>
                    <strong>昵称: <span id="data-id-myname" style="color: #f00;"></span></strong>
                    <strong>备注: </strong>
                    <div class="form-group">
                        <input type="text" placeholder="请输入充值备注，如：付款单号、时间" value="冲冲冲"
                               class="form-control" name="remark">
                    </div>
                    <strong style="display:none" id="amountconvert">加款金额: <span id="rechargeamount" style="color: #f00;"></span></strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal" onclick="closerechargeModal()">关闭
                    </button>
                    <button type="submit" class="btn btn-primary ajax-post" target-form="rechargeModal">保存</button>
                </div>
				<script>
					function amountconvert() {
					  var money = $("input[name='money']").val();
					  if(money){
						  $("#amountconvert").show();
					  }else{
						  $("#amountconvert").hide();
					  }
					  //汉字的数字
					  var cnNums = new Array('零', '一', '二', '三', '四', '五', '六', '七', '八', '九');
					  //基本单位
					  var cnIntRadice = new Array('', '十', '百', '千');
					  //对应整数部分扩展单位
					  var cnIntUnits = new Array('', '万', '亿', '兆');
					  //对应小数部分单位
					  var cnDecUnits = new Array('角', '分', '毫', '厘');
					  //整数金额时后面跟的字符
					  var cnInteger = '整';
					  //整型完以后的单位
					  var cnIntLast = '圆';
					  //最大处理的数字
					  var maxNum = 999999999999999.9999;
					  //金额整数部分
					  var integerNum;
					  //金额小数部分
					  var decimalNum;
					  //输出的中文金额字符串
					  var chineseStr = '';
					  //分离金额后用的数组，预定义
					  var parts;
					  if (money == '') { return ''; }
					  money = parseFloat(money);
					  if (money >= maxNum) {
						//超出最大处理数字
						return '';
					  }
					  if (money == 0) {
						chineseStr = cnNums[0] + cnIntLast + cnInteger;
						return chineseStr;
					  }
					  //转换为字符串
					  money = money.toString();
					  if (money.indexOf('.') == -1) {
						integerNum = money;
						decimalNum = '';
					  } else {
						parts = money.split('.');
						integerNum = parts[0];
						decimalNum = parts[1].substr(0, 4);
					  }
					  //获取整型部分转换
					  if (parseInt(integerNum, 10) > 0) {
						var zeroCount = 0;
						var IntLen = integerNum.length;
						for (var i = 0; i < IntLen; i++) {
						  var n = integerNum.substr(i, 1);
						  var p = IntLen - i - 1;
						  var q = p / 4;
						  var m = p % 4;
						  if (n == '0') {
							zeroCount++;
						  } else {
							if (zeroCount > 0) {
							  chineseStr += cnNums[0];
							}
							//归零
							zeroCount = 0;
							chineseStr += cnNums[parseInt(n)] + cnIntRadice[m];
						  }
						  if (m == 0 && zeroCount < 4) {
							chineseStr += cnIntUnits[q];
						  }
						}
						chineseStr += cnIntLast;
					  }
					  //小数部分
					  if (decimalNum != '') {
						var decLen = decimalNum.length;
						for (var i = 0; i < decLen; i++) {
						  var n = decimalNum.substr(i, 1);
						  if (n != '0') {
							chineseStr += cnNums[Number(n)] + cnDecUnits[i];
						  }
						}
					  }
					  if (chineseStr == '') {
						chineseStr += cnNums[0] + cnIntLast + cnInteger;
					  } else if (decimalNum == '') {
						chineseStr += cnInteger;
					  }
					  $("#rechargeamount").html(chineseStr);
					}
				  </script>
            </div>
        </div>
    </form>
</div>
<div class="modal inmodal" id="googleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <form method="post" action="{:U('reset_google_auth_secret')}" class="googleModal">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-body">
                    <p><strong>清除代理谷歌验证码</strong></p>
                    <input type="hidden" value="" name="id" id="googleid">
                    <div class="form-group" style="color: #f00;">
                        清除以后，代理用户登录时会再次弹出绑定谷歌验证码
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="请输入您当前管理员账号谷歌身份验证码，未设置可为空" value=""
                               class="form-control" name="verifycode" maxlength="6">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal" onclick="closegoogleModal()">关闭
                    </button>
                    <button type="submit" class="btn btn-primary ajax-post" target-form="googleModal">清除</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
    });
    $("#search,#excel").click(function () {
        var url = $(this).attr('url');
        var query = $('.input-groups').find('input').serialize();
        var select = $('.input-groups').find('select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
        query = query.replace(/^&/g, '');
        if (url.indexOf('?') > 0) {
            url += '&' + query;
        } else {
            url += '?' + query;
        }
        if (url.indexOf('?') > 0) {
            url += '&' + select;
        } else {
            url += '?' + select;
        }
        window.location.href = url;
    });
    //回车搜索
    $(".input-sm").keyup(function (e) {
        if (e.keyCode === 13) {
            $("#search").click();
            return false;
        }
    });
    $(".serach_selects").change(function () {
        $("#search").click();
        return false;
    });
    $(".resetpwd").click(function () {
        $("#uppwdid").val($(this).data("id"));
        $("#uppwdModal").show();
    });

    function closeuppwdModal() {
        $("#uppwdModal").hide();
    }

    $(".recharge").click(function () {
        var myname = $(this).data("myname");
        $("#rechargeid").val(myname);
        $("#data-id-myname").text(myname);

        var myid = $(this).data("id");
        $("#rechargeid").val(myid);
        $("#data-id-myid").text(myid);
        
        //$("#rechargeid").val($(this).data("id"));
        $("#rechargeModal").show();
    });

    function closerechargeModal() {
        $("#rechargeModal").hide();
    }

    $(".resetgoogle").click(function () {
        $("#googleid").val($(this).data("id"));
        $("#googleModal").show();
    });

    function closegoogleModal() {
        $("#googleModal").hide();
    }
</script>
</body>
</html>
