{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>订单投诉</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" action="{:U('complaint_sub')}">
                        <input type="hidden" name="id" value="{$info.id|default=''}">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>联系人<span style="margin-left: 8px;color: #aaa;"></span></label>
                                <input type="text" class="form-control" name="name" placeholder="联系人名字">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>联系电话<span style="margin-left: 8px;color: #aaa;"></span></label>
                                <input type="number" class="form-control" name="mobile" placeholder="投诉人联系方式">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>问题描述<span style="margin-left: 8px;color: #aaa;"></span></label>
                                <textarea name="issue" class="form-control" placeholder="请输入您遇到的问题"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary ajax-post" target-form="form-horizontal">
                                    提交投诉
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
