{include file="public/header" /}
<style>
    .table-bordered > tbody > tr:hover {
        background-color: #f5f5f5
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>订单列表(当前结果：{$_total}条)</h5>
                </div>
                <div class="ibox-content">
                    <div class="row input-groups">
                        <div class="col-md-12 form-inline text-left">
                            <div class="form-group">
                                <a class="btn btn-sm btn-white open-reload"><i
                                        class="glyphicon glyphicon-repeat"></i></a>
                                <span>&nbsp;总金额：￥{$total_price}</span>
                            </div>
                        </div>
                        <div class="col-md-12 m-b-xs form-inline text-left">
                            <div class="form-group">
                                <label class="control-label">时间:</label>
                                <select class="input-sm form-control input-s-sm inline" name="time_style"
                                        style="width: auto;">
                                    <option value="create_time"
                                    <?php if(I('time_style')=='create_time'){ echo "selected='selected'"; } ?>
                                    >下单时间</option>
                                    <option value="apireq_time"
                                    <?php if(I('time_style')=='apireq_time'){ echo "selected='selected'"; } ?>
                                    >提单时间</option>
                                    <option value="finish_time"
                                    <?php if(I('time_style')=='finish_time'){ echo "selected='selected'"; } ?>
                                    >完成时间</option>
                                    <option value="apifail_time"
                                    <?php if(I('time_style')=='apifail_time'){ echo "selected='selected'"; } ?>
                                    >失败时间</option>
                                    <option value="refund_time"
                                    <?php if(I('time_style')=='refund_time'){ echo "selected='selected'"; } ?>
                                    >退款时间</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <span class="control-label">开始：</span>
                                <input type="text" name="begin_time" id="begin_time" value="{:I('begin_time')}"
                                       class="input-sm input-s-sm serach_selects" style="border: 1px solid #e5e6e7;"
                                       placeholder="开始日期" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <span class="control-label">&nbsp;结束：</span>
                                <input type="text" name="end_time" id="end_time" value="{:I('end_time')}"
                                       style="border: 1px solid #e5e6e7;"
                                       class="input-sm input-s-sm serach_selects" placeholder="结束日期"
                                       autocomplete="off">
                            </div>
                            <div class="form-group">
                                <a class="btn btn-sm btn-white kuaijie_time"
                                   data-strat="<?php echo date('Y-m-d 00:00:00', time());?>"
                                   data-end="<?php echo date('Y-m-d 23:59:59', time());?>">今日</a>
                                <a class="btn btn-sm btn-white kuaijie_time"
                                   data-strat="<?php echo date('Y-m-01 00:00:00', time());?>"
                                   data-end="<?php echo date('Y-m-d 23:59:59', time());?>">本月</a>
                                <a class="btn btn-sm btn-white kuaijie_time"
                                   data-strat="<?php echo date('Y-01-01 00:00:00', time());?>"
                                   data-end="<?php echo date('Y-m-d 23:59:59', time());?>">本年</a>
                            </div>
                            <div class="form-group">
                                <label class="control-label">类型:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects" name="type"
                                        style="width: auto;">
                                    <option value="0">请选择</option>
                                    {volist name="_types" id="vo"}
                                    <option value="{$vo.id}"
                                    <?php if(I('type')==$vo['id']){ echo "selected='selected'"; } ?>
                                    >{$vo.type_name}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="form-group">
                                <?php $client=C('CLIENT_TYPE'); ?>
                                <label class="control-label">渠道:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects"
                                        name="client"
                                        style="width: auto;">
                                    <option value="0">请选择</option>
                                    {volist name="client" id="vo"}
                                    <option value="{$key}"
                                    <?php if(I('client')==$key){ echo "selected='selected'"; } ?>>{$vo}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="form-group">
                                <?php $isps=C('ISP_TEXT');?>
                                <label class="control-label">运营商:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects" name="isp"
                                        style="width: auto;">
                                    <option value="0">请选择</option>
                                    {volist name="isps" id="vo"}
                                    <option value="{$key}"
                                    <?php if(I('isp')==$key){ echo "selected='selected'"; } ?>>{$vo}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="form-group">
                                <?php $statusarr=C('ORDER_STUTAS');?>
                                <label class="control-label">状态:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects" name="status"
                                        style="width: auto;">
                                    <option value="0">请选择</option>
                                    {volist name="statusarr" id="vo"}
                                    <option value="{$key}"
                                    <?php if(I('status')==$key){ echo "selected='selected'"; } ?>>{$vo}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" title="提交了申请退款请求，还未退的可以查询">申请退单:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects" name="apply_refund" style="width: auto;">
                                    <option value="0">请选择</option>
                                    <option value="1" <?php if(I('apply_refund')==1){ echo "selected='selected'"; } ?>>否</option>
                                    <option value="2" <?php if(I('apply_refund')==2){ echo "selected='selected'"; } ?>>是</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">回调状态:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects"
                                        name="is_notification"
                                        style="width: auto;">
                                    <option value="0">请选择</option>
                                    <option value="1"
                                    <?php if(I('is_notification')==1){ echo "selected='selected'"; } ?>>未回调</option>
                                    <option value="2"
                                    <?php if(I('is_notification')==2){ echo "selected='selected'"; } ?>
                                    >回调成功</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">批量手机:</label>
                                <textarea name="batch_mobile" class="form-control"
                                          placeholder="批量手机查询，多个回车分割">{:I('batch_mobile')}</textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">批量系统单号:</label>
                                <textarea name="batch_order_number" class="form-control"
                                          placeholder="批量系统单号查询，多个回车分割">{:I('batch_order_number')}</textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">批量商户单号:</label>
                                <textarea name="batch_out_trade_num" class="form-control"
                                          placeholder="批量商户单号查询，多个回车分割">{:I('batch_out_trade_num')}</textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">排序:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects" name="sort"
                                        style="width: auto;">
                                    <option value="">默认</option>
                                    <option value="create_time desc"
                                    <?php if(I('sort')=='create_time desc'){ echo "selected='selected'"; } ?>
                                    >下单时间</option>
                                    <option value="finish_time desc"
                                    <?php if(I('sort')=='finish_time desc'){ echo "selected='selected'"; } ?>
                                    >完成时间</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">查询条件:</label>
                                <select class="input-sm form-control input-s-sm inline" name="query_name"
                                        style="width: auto;">
                                    <option value="">模糊</option>
                                    <option value="order_number"
                                    <?php if(I('query_name')=='order_number'){ echo "selected='selected'"; } ?>
                                    >订单号</option>
                                    <option value="out_trade_num"
                                    <?php if(I('query_name')=='out_trade_num'){ echo "selected='selected'"; } ?>
                                    >商户单号</option>
                                    <option value="mobile"
                                    <?php if(I('query_name')=='mobile'){ echo "selected='selected'"; } ?>>手机号</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="hidden" value="{:I('excel_id')}" name="excel_id"/>
                                    <input type="hidden" value="{:I('status2')}" name="status2"/>
                                    <input type="text" name="key" placeholder="请输入套餐/单号/手机号" value="{:I('key')}"
                                           class="input-sm form-control">
                                    <span class="input-group-btn"><button type="button" id="search"
                                                                          class="btn btn-sm btn-primary"
                                                                          url="{:U('index')}"> 搜索</button></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" id="excel"
                                        class="btn btn-sm btn-primary"
                                        url="{:U('out_excel')}"> 导出
                                </button>
                            </div>
                        </div>
                    
                    
                        <div class="col-md-12 m-b-xs form-inline text-left" style="color: #f00">
                            重要提示：批量申请退单只会操作勾选框的订单，不是搜索列表内的订单，不勾选不会操作！<br/>
                        </div>
                        <div class="col-md-12 form-inline text-left">
                            <div class="form-group">
                                <a class="btn btn-sm btn-white open-reload"><i
                                        class="glyphicon glyphicon-repeat"></i></a>
                            </div>
                            {eq name="agent_cancel_sw" value="1"}
                            <div class="form-group">
                                <button class="btn btn-sm btn-danger ajax-post" target-form="i-checks"
                                        href="{:U('set_aprefunds')}" 
                                        title="多选框选中的订单，批量申请订单直接失败，只适用已经提交api充值的订单，当api失败时立马失败，不再提交后面的接口，如果当前接口充值成功订单还是会成功，可操作的状态：充值中">
                                    <i class="fa fa-check-square"></i>
                                    批量申请退单
                                </button>
                            </div>
                            {/eq}
                        </div>
                    </div>
                    
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th><input type="checkbox" class="i-checks check-all">全选</th>
                                <th>系统单号</th>
                                <th>商户单号</th>
                                <th>类型</th>
                                <th>订单金额</th>
                                <th>充值账号</th>
                                <th>余额</th>
                                <th>套餐</th>
                                <th>归属地</th>
                                <th>下单渠道</th>
                                <th>运营商/地区</th>
                                <th>扩展</th>
                                <th>状态</th>
                                <th>下单时间</th>
                                <th>完成时间</th>
                                <th>耗时</th>
                                <th>备注</th>
                                <th>返回</th>
                                <th>用户标记</th>
                                <th>回调</th>
                                <th>凭证</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="_list" id="vo"}
                            <tr>
                                <td style="width: 70px;">
                                    <input type="checkbox" class="i-checks ids" name="id[]" value="{$vo.id}">
                                </td>
                                <td class="js-copy" data-clipboard-text="{$vo.order_number}"><span title="系统单号">{$vo.order_number}</span></td>
                                <td class="js-copy" data-clipboard-text="{$vo.out_trade_num}"><span title="商户单号">{$vo.out_trade_num}</span></td>
                                <td>{$vo.type_name}</td>
                                <td>{$vo.total_price}</td>
                                <td class="js-copy" data-clipboard-text="{$vo.mobile}"><span title="充值账号，手机号，户号等">{$vo.mobile}</span></td>
                                <td  style="width: 120px;" >
                                    充值前：<span style="color:blue;">{$vo.phone_balance_a|default='-'}</span><br/>
                                    充值后：<span style="color:blue;">{$vo.phone_balance_b|default='-'}</span><br/>
                                    {if condition="($vo['type']==1&&in_array(C('HFYE_API_TYPE_STSTUS'),[1,3]))||($vo['type']==3&&in_array(C('HFYE_API_TYPE_STSTUS'),[2,3]))"}
                                        余额：<span style="color:blue;" id="phone_balance_n_{$vo.id}">{$vo.phone_balance_n|default='-'}</span>
                                                <a class="text-info recharge" onclick="phone_balance_query_({$vo.id},'n')">查询</a>
                                    {/if}
                                </td>
                                <td>{$vo.product_name}</td>
                                <td>{$vo.guishu}</td>
                                <td>{:C('CLIENT_TYPE')[$vo.client]}</td>
                                <td>{$vo.isp}</td>
                                <td>
                                    {if condition="$vo.param1 || $vo.param2 || $vo.param3"}
                                    <span title="此栏目的值分别代表param1,param2,param3">{$vo.param1}/{$vo.param2}/{$vo.param3}</span>
                                    {/if}
                                </td>
                                <td>{if $vo.status == 13}
                                    <span class="label label-danger">{:C('ORDER_STUTAS')[$vo.status]}</span>
                                    {else}
                                    <span class="label label-{$vo.status_text_color}">{:C('ORDER_STUTAS')[$vo.status]}</span>
                                    {/if}
                                    {eq name="vo.apply_refund" value="1"}
                                    <br/><br/><span title="申请退单的状态并不一定会退单，如果当前接口回调充值成功，订单也会变成充值成功">申请退单中..</span>
                                    {/eq}
                                </td>
                                <td>{$vo.pay_time|time_format}</td>
                                <td>{$vo.finish_time|time_format}</td>
                                <td>
                                    {:elapsed_time($vo['create_time'],$vo['finish_time'])}
                                </td>
                                <td>
                                    <div style="max-height: 100px;overflow-y: scroll;font-size: 12px;width: 80px;color: #f00;">
                                    {:C('IS_SHOW_CLIENT_REMARK')==1?$vo.remark:''}
                                    </div>
                                </td>
                                <td>
                                    <div style="max-height: 100px;overflow-y: scroll;font-size: 12px;width: 50px">
                                        卡密/流水：{$vo.charge_kami}<br/>
                                        已充：{gt name="vo.charge_amount" value="0"}
                                        {$vo.charge_amount}
                                        {else/}
                                        -
                                        {/gt}
                                    </div>
                                </td>
                                <td><p style="color:#e00;">{$vo.user_lable}</p>
                                    <a class="open-window" href="{:U('lable?id='.$vo.id)}"
                                       title="详情"><i class="fa fa-edit"></i></a>
                                </td>
                                <td>
                                    {eq name="vo.is_apart" value="0"}
                                    {eq name='vo.client' value='4'}
                                    状态：{$vo.is_notification?'回调成功':'未回调'}/{$vo.notification_num}<br/>
                                    时间：{$vo.notification_time|time_format}<br/>
                                    <span class="tiptext text-success" data-text='{$vo.notify_url}'>回调地址</span><br/>
                                    <a class="text-danger ajax-get confirm" href="{:U('notification?id='.$vo.id)}"
                                       title="手动回调">手动回调</a>
                                    {/eq}
                                    {/eq}
                                </td>
                                <td>
                                    {eq name='vo.status' value='4'}
                                    <a class="text-warning open-window no-refresh"
                                       href="{:C('WEB_URL')}yrapi.php/open/voucher/id/{$vo.id}.html"
                                       title="凭证">凭证</a>
                                    {/eq}
                                </td>
                                <td>
                                    <a class="open-window" href="{:U('complaint?porder_id='.$vo.id)}" title="投诉">投诉</a>
                                    {eq name="agent_cancel_sw" value="1"}
                                    {eq name="vo.apply_refund" value="0"}
                                    {in name='vo.status' value='2,3,10'}
                                    <a class="text-danger ajax-get confirm" href="{:U('apply_cancel_order?id='.$vo.id)}"
                                       title="申请退单">申请退单</a>
                                    {/in}
                                    {/eq}
                                    {/eq}
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                    <div class="page">
                        {$_list->render()}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__JS__/laydate/laydate.js"></script>
<script>
    //执行一个laydate实例
    laydate.render({
        elem: '#begin_time',
        type: 'datetime',
        done: function (value, date, endDate) {
            $('#begin_time').val(value);
        }
    });
    laydate.render({
        elem: '#end_time',
        type: 'datetime',
        done: function (value, date, endDate) {
            $('#end_time').val(value);
        }
    });
    $(".kuaijie_time").click(function () {
        var strat = $(this).data('strat');
        var end = $(this).data('end');
        $("#begin_time").val(strat);
        $("#end_time").val(end);
        $("#search").trigger('click');
    });
    $(".tiptext").click(function () {
        var text = $(this).data('text');
        layer.alert(text, {
            skin: 'layui-layer-molv' //样式类名
            , closeBtn: 0
        }, function () {
            layer.closeAll();
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
    });
</script>
<script>
    var btn = document.getElementsByClassName("js-copy");
    var clipboard = new Clipboard(btn);//实例化
    //复制成功执行的回调，可选
    clipboard.on('success', function (e) {
        layer.msg('复制成功！');
    });

    //复制失败执行的回调，可选
    clipboard.on('error', function (e) {
        layer.msg('复制失败！');
    });

</script>
<script>
    function phone_balance_query_(id,type) {
        layer.msg('查询中...', {time: 0});
        $.ajax({
            type: "POST",
            url: "{:U('query/phone_query')}",
            dataType: "json",
            data: {
                id:id,type:type
            },
            success: function(res) {
                if (res.errno === 0) {
                    layer.msg(res.errmsg);
					$("#phone_balance_n_"+id).html(res.data.mobile_fee);
                } else {
                    layer.alert(res.errmsg, {
                        icon: 5,
                        skin: 'layer-ext-moon'
                    })
                }
            }
        })
    }
</script>
</body>
</html>
