{include file="public/header" /}

<body class="gray-bg">
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>产品编辑</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" action="{:U('edit')}">
                        <input type="hidden" name="id" value="{$info.id}">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>套餐<span style="margin-left: 8px;color: #f00;">填写的时候带数字面值且只有面值的数字，比如“100元”,"快充100","四川100电费"</span></label>
                                <input type="text" class="form-control" name="name" value="{$info.name}">
                            </div>
                            <div class="col-sm-6">
                                <label>描述<span style="margin-left: 8px;color: #aaa;"></span></label>
                                <input type="text" class="form-control" name="desc" value="{$info.desc}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label>类型<span style="margin-left: 8px;color: #aaa;"></span></label>
                                <select class="form-control m-b" name="type">
                                    {volist name="types" id="to"}
                                    <option value="{$to.id}"
                                    <?php if(($info && $info['type']==$to['id']) || I('type')==$to['id']){ echo "selected='selected'"; } ?>
                                    >{$to.type_name}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>分类<span style="margin-left: 8px;color: #aaa;"></span></label>
                                <select class="form-control m-b" name="cate_id">
                                    {volist name="cates" id="to"}
                                    <option value="{$to.id}"
                                    <?php if($info['cate_id']==$to['id']){ echo "selected='selected'"; } ?>
                                    >{$to.cate}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <?php $showstyle=C('PRODUCT_SHOW_CLIENT');?>
                                <label>显示端<span style="margin-left: 8px;color: #aaa;"></span></label>
                                <select class="form-control m-b" name="show_style">
                                    {volist name="showstyle" id="to"}
                                    <option value="{$key}"
                                    <?php if($info['show_style']==$key){ echo "selected='selected'"; } ?>>{$to}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>可用等级<span style="margin-left: 8px;color: #aaa;">如果一个都未选择，默认会所有等级显示</span></label><br/>
                                {volist name="grades" id="to"}
                                <input type="checkbox" name="grade_ids[]" id="g{$to.id}"
                                       value="{$to.id}" <?php echo inArrayDou($info['grade_ids'],$to['id'])?'checked':''; ?> /><label for="g{$to.id}">{$to.grade_name}</label>
                                {/volist}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>基础价<span style="margin-left: 8px;color: #aaa;"></span></label>
                                <input type="text" class="form-control" name="price" value="{$info.price}">
                            </div>
                            <div class="col-sm-3">
                                <label>封顶价<span style="margin-left: 8px;color: #aaa;">店铺最高可设置的售价，0代表不限制</span></label>
                                <input type="text" class="form-control" name="max_price" value="{$info.max_price}">
                            </div>
                            <div class="col-sm-6">
                                <?php $isps=C('ISP_TEXT');?>
                                <label>运营商<span style="margin-left: 8px;color: #aaa;">话费/流量必选</span></label><br/>
                                {volist name="isps" id="vo"}
                                <input type="checkbox" name="isp[]"
                                       value="{$key}" <?php echo strstr($info['isp'],$key.'')?'checked':''; ?> />{$vo}
                                {/volist}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>允许下单省份<span style="margin-left: 8px;color: #aaa;">话费/流量/电费生效</span></label>
                                <input type="text" class="form-control" name="allow_pro" value="{$info.allow_pro}"
                                       placeholder="多个用英文,隔开，如：广东省,福建省">
                            </div>
                            <div class="col-sm-6">
                                <label>允许下单城市<span style="margin-left: 8px;color: #aaa;">话费/流量/电费生效</span></label>
                                <input type="text" class="form-control" name="allow_city" value="{$info.allow_city}"
                                       placeholder="多个用英文,隔开，如：深圳市,东莞市">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>禁止下单省份<span style="margin-left: 8px;color: #aaa;">话费/流量/电费生效</span></label>
                                <input type="text" class="form-control" name="forbid_pro" value="{$info.forbid_pro}"
                                       placeholder="多个用英文,隔开，如：广东省,福建省">
                            </div>
                            <div class="col-sm-6">
                                <label>禁止下单城市<span style="margin-left: 8px;color: #aaa;">话费/流量/电费生效</span></label>
                                <input type="text" class="form-control" name="forbid_city" value="{$info.forbid_city}"
                                       placeholder="多个用英文,隔开，如：深圳市,东莞市">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>允许下单号段<span style="margin-left: 8px;color: #aaa;">话费/流量生效</span></label>
                                <input type="text" class="form-control" name="allow_isp" value="{$info.allow_isp}"
                                       placeholder="多个用英文,隔开，如：147,171">
                            </div>
                            <div class="col-sm-6">
                                <label>禁止下单号段<span style="margin-left: 8px;color: #aaa;">话费/流量生效</span></label>
                                <input type="text" class="form-control" name="forbid_isp" value="{$info.forbid_isp}"
                                       placeholder="多个用英文,隔开，如：147,171">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>套餐右上角<span style="margin-left: 8px;color: #aaa;">如：8.8折</span></label>
                                <input type="text" class="form-control" name="ys_tag" value="{$info.ys_tag}">
                            </div>
                            <div class="col-sm-6">
                                <label>备注<span style="margin-left: 8px;color: #aaa;"></span></label>
                                <input type="text" class="form-control" name="remark" value="{$info.remark}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>凭证充值金额/面值<span style="margin-left: 8px;color: #aaa;"></span></label>
                                <input type="text" class="form-control" name="voucher_name"
                                       value="{$info.voucher_name}">
                            </div>
                            <div class="col-sm-6">
                                <label>凭证支付金额/价格<span style="margin-left: 8px;color: #aaa;"></span></label>
                                <input type="text" class="form-control" name="voucher_price"
                                       value="{$info.voucher_price}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>状态<span style="margin-left: 8px;color: #aaa;"></span></label>
                                <select class="form-control m-b" name="added">
                                    <option value="1"
                                    <?php if($info['added']==1){ echo "selected='selected'"; } ?>>上架</option>
                                    <option value="0"
                                    <?php if($info['added']==0){ echo "selected='selected'"; } ?>>下架</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label>排序<span style="margin-left: 8px;color: #aaa;"></span></label>
                                <input type="text" class="form-control" name="sort" value="{$info.sort}">
                            </div>
                        </div>
                        <div class="form-group">
                           <div class="col-sm-3">
                                <label>单号码限制（天）<span style="margin-left: 8px;color: #aaa;">限制x单（填0不限制）</span></label>
                                <input type="text" class="form-control" name="limit_m_day"
                                       value="{$info.limit_m_day}">
                            </div>
                           <div class="col-sm-3">
                                <label>单号码限制（单）<span style="margin-left: 8px;color: #aaa;">限制x单（填0不限制）</span></label>
                                <input type="text" class="form-control" name="limit_m_num"
                                       value="{$info.limit_m_num}">
                            </div>
                           <div class="col-sm-3">
                                <label>单号码本月限制（单）<span style="margin-left: 8px;color: #aaa;">限制x单（填0不限制）</span></label>
                                <input type="text" class="form-control" name="limit_m_month_num"
                                       value="{$info.limit_m_month_num}">
                            </div>
                           <div class="col-sm-3">
                                <label>单号码充值中限制（单）<span style="margin-left: 8px;color: #aaa;">限制x单（填0不限制）</span></label>
                                <input type="text" class="form-control" name="plimit_one_porder"
                                       value="{$info.plimit_one_porder}">
                            </div>
                         </div>
                        <?php $sysadapis=C('ODAPI_FAIL_STYLE');?>
                        {eq name="sysadapis" value="3"}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>api失败时的处理方式<span
                                        style="margin-left: 8px;color: #aaa;"></span></label>
                                <select class="form-control m-b" name="api_fail_style">
                                    <option value="1"
                                    <?php if($info['api_fail_style']==1){ echo "selected='selected'"; } ?>>直接失败</option>
                                    <option value="2"
                                    <?php if($info['api_fail_style']==2){ echo "selected='selected'"; } ?>
                                    >压单</option>
                                </select>
                            </div>
                        </div>
                        {/eq}
                        <?php $sysadapisa=C('ODPART_REG_REFUND');?>
                        {eq name="sysadapisa" value="3"}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>部分充值中的订单处理方式<span
                                        style="margin-left: 8px;color: #aaa;"></span></label>
                                <select class="form-control m-b" name="odpart_teg_refund">
                                    <option value="1"
                                    <?php if($info['odpart_teg_refund']==1){ echo "selected='selected'"; } ?>>不自动退</option>
                                    <option value="2"
                                    <?php if($info['odpart_teg_refund']==2){ echo "selected='selected'"; } ?>
                                    >自动退</option>
                                </select>
                            </div>
                        </div>
                        {/eq}
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>接口充值<span style="margin-left: 8px;color: #aaa;"></span></label>
                                <select class="form-control m-b" name="api_open">
                                    <option value="1"
                                    <?php if($info['api_open']==1){ echo "selected='selected'"; } ?>>开启</option>
                                    <option value="0"
                                    <?php if($info['api_open']==0){ echo "selected='selected'"; } ?>>关闭</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label>延迟提交api（单位：小时）<span style="margin-left: 8px;color: #aaa;">新订单等待n小时后才开始提交</span></label>
                                <input type="text" class="form-control" name="delay_api" value="{$info.delay_api}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>同步价格<span style="margin-left: 8px;color: #aaa;">目前只支持同平台,其他平台请勿打开</span></label>
                                <select class="form-control m-b" name="is_jiage">
                                    <option value="0"
                                    <?php if($info && $info['is_jiage']==0){ echo "selected='selected'"; } ?>>关闭</option>
                                    <option value="1"
                                    <?php if($info && $info['is_jiage']==1){ echo "selected='selected'"; } ?>>打开</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>同步上下架<span style="margin-left: 8px;color: #aaa;">目前只支持同平台,其他平台请勿打开</span></label>
                                <select class="form-control m-b" name="is_up">
                                    <option value="0"
                                    <?php if($info && $info['is_up']==0){ echo "selected='selected'"; } ?>>关闭</option>
                                    <option value="1"
                                    <?php if($info && $info['is_up']==1){ echo "selected='selected'"; } ?>>打开</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>接口api<span style="margin-left: 8px;color: #aaa;">打开同步需选择</span></label><br/>
                                <select class="form-control m-b" name="reapi_id">
                                    <option value="0">请选择</option>
                                    {volist name="reapiapi" id="to"}
                                    <option value="{$to.id}"
                                    <?php if($info && $info['reapi_id']==$to['id']){ echo "selected='selected'"; } ?>
                                    >{$to.name}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>接口api套餐<span style="margin-left: 8px;color: #aaa;">打开同步需选择</span></label><br/>
                                <select class="form-control m-b" name="reapi_param_id">
                                    <option value="0">请选择</option>
                                    {volist name="reapiparams" id="to"}
                                    <option value="{$to.id}"
                                    <?php if($info && $info['reapi_param_id']==$to['id']){ echo "selected='selected'"; } ?>
                                    >{$to.desc}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <label>接码【弃用】<span style="margin-left: 8px;color: #aaa;"></span></label>
                                <select class="form-control m-b" name="is_jiema">
                                    <option value="0"
                                    <?php if($info && $info['is_jiema']==0){ echo "selected='selected'"; } ?>>关闭</option>
                                    <option value="1"
                                    <?php if($info && $info['is_jiema']==1){ echo "selected='selected'"; } ?>>打开</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>接码api<span style="margin-left: 8px;color: #aaa;"></span></label><br/>
                                <select class="form-control m-b" name="jmapi_id">
                                    <option value="0">请选择</option>
                                    {volist name="jiemaapi" id="to"}
                                    <option value="{$to.id}"
                                    <?php if($info && $info['jmapi_id']==$to['id']){ echo "selected='selected'"; } ?>
                                    >{$to.name}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>接码api套餐<span style="margin-left: 8px;color: #aaa;"></span></label><br/>
                                <select class="form-control m-b" name="jmapi_param_id">
                                    <option value="0">请选择</option>
                                    {volist name="jmapiparams" id="to"}
                                    <option value="{$to.id}"
                                    <?php if($info && $info['jmapi_param_id']==$to['id']){ echo "selected='selected'"; } ?>
                                    >{$to.desc}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary ajax-post" target-form="form-horizontal">
                                    确定
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $("[name=reapi_id]").change(function () {
        var reapi_id = $(this).children('option:selected').val();
        $.post("{:U('reapi/get_reapi_param')}", {reapi_id: reapi_id}, function (result) {
            console.log(result)
            $("[name=reapi_param_id]").empty();
            $("[name=reapi_param_id]").append("<option  value=0>请选择</option>");
            for (var i = 0; i < result.data.length; i++) {
                var item = result.data[i];
                $("[name=reapi_param_id]").append("<option  value=" + item.id + ">" + item.desc + "</option>");
            }
        });
    });
</script>

</html>
